/**
 * to-do list
 */

body {
  margin:   0;
  padding:  0;
}

.header {
  box-sizing: border-box;
  background-color:  #24292F;
  width:             100%;
  padding: 50px;
}

.header .header__content {
  position: relative;
  width:      100%;
  margin:     auto;
}

.header .header__logo {
  color:             white;
  line-height:       70px;
  font-weight:       bold;
  padding:           20px;
}

.header .header__list {
  display: table;
  position: absolute;
  height: 100%;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
}

.header .header__item {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  list-style-type: none;
  font-size: large;
}

.header .header__link {
  text-decoration: none;
  color: white;
}

.header .header__link:hover {
  border-bottom: solid;
  border-color: white;
}

.main {
  width:      90%;
  box-sizing: border-box;
  margin:     100px auto;
  padding:    100px;
  box-shadow: 0 0 4px gray;
  position:   relative;
}

.success-message {
  margin:      30px 0;
  text-align:  center;
}

.todo-list {
  border: solid;
  padding: 10px;
  list-style-type: none;
}

.todo-list .todo-list__item {
  border: solid;
}

.todo-list .todo-list__category {
  margin: 5px;
}

.todo-list .todo-list__checkbox {
  display: none;
}

.todo-list .todo-list__trush-checkbox {
  display: none;
}

.todo-list .todo-list__item_ACTIVE {
  background-color: skyblue;
}

.todo-list .todo-list__trush-checkbox:checked + .todo-list__item {
  border: solid red;
}

.todo-list .todo-list__checkbox:checked + .todo-list__item_ACTIVE {
  border: solid red;
  background-color: greenyellow;
}

.todo-list .todo-list__item_IN_PROGRESS {
  background-color: greenyellow;
}

.todo-list .todo-list__checkbox:checked + .todo-list__item_IN_PROGRESS {
  border: solid red;
  background-color: skyblue;
}

.todo-list .todo-list__item_DONE {
  display: none;
  background-color: salmon;
}

.todo-list .todo-list__item_open {
  display: block;
  width: 100%;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  list-style-type: none;
  border: solid;
}

.category-list .category-list__checkbox {
  display: none;
}

.category-list .category-list__checkbox:checked + .category-list__label {
  opacity: 0.4;
  box-shadow: none;
}

.category-list .category-list__label {
  box-sizing: border-box;
  box-shadow: 0 0 4px gray;
  margin: 1%;
  width: 23%;
}

.category-list .category-list__item {
  padding: 20px;
  word-break: break-all;
}

.category-list .category-list__title {
  margin: 0;
}

.category-list .category-list__name {
  margin: 0;
}


/******* フォームのinfoを非表示に *******/
.info {
  display: none;
}