@(vv: model.todo.ViewValueCategoryList)(implicit messageProvider: MessagesProvider, requestHeader: RequestHeader)
@common.Default(vv){

<a href="@controllers.routes.HomeController.index()"></a>

@helper.form(action = controllers.todo.routes.CategoryController.register()) {
  @helper.CSRF.formField

  @helper.inputText(vv.registerForm("name"))
  @helper.inputText(vv.registerForm("slug"))
  @helper.inputText(vv.registerForm("color"))

  <input type="submit" value="追加">

  <ul class="category-list">
    @for(category <- vv.categoryList) {
      <li class="category-list__item" style="background-color: rgb(@category.color, @category.color, @category.color)">

        <h2 class="category-list__title">@category.name</h2>
        <p class="category-list__name">@category.slug</p>
      </li>
    }
  </ul>
}

}
