@(vv: model.todo.ViewValueList)(implicit messageProvider: MessagesProvider, requestHeader: RequestHeader)
@common.Default(vv){

<a href="@controllers.todo.routes.TodoController.trush_page()">ゴミ箱へ</a>

<ul class="todo-list">
    @UpdateForm(vv.registerForm)

    @helper.form(action = controllers.todo.routes.TodoController.update()) {
        @helper.CSRF.formField

        @for(todo <- vv.todoList) {
            <label for="select_id_@todo.id">
                <input class="todo-list__checkbox" type="checkbox" id="select_id_@todo.id" name="ids[]" value=@todo.id>
                @defining(Map(0 -> "active", 1 -> "done", 2 -> "archive")) { convert =>
                    <li class="todo-list__item todo-list__item_@convert(todo.state)">
                }
                    <h2>@todo.title</h2>
                    <p>@todo.body</p>
                </li>
            </label>
        }

        <input type="submit" value="更新">
    }
</ul>
}