@(vv: model.todo.ViewValueList)(implicit messageProvider: MessagesProvider, requestHeader: RequestHeader)
@common.Default(vv){

<a href="@controllers.todo.routes.TodoController.trushPage()">ゴミ箱へ</a>

<ul class="todo-list">
    @UpdateForm(vv.registerForm)

    @helper.form(action = controllers.todo.routes.TodoController.update()) {
        @helper.CSRF.formField

        @for(todo <- vv.todoList) {
            <label for="select_id_@todo.id">
                <input class="todo-list__checkbox" type="checkbox" id="select_id_@todo.id" name="ids[]" value=@todo.id>
                    <li class="todo-list__item todo-list__item_@todo.state">
                    <h2>@todo.title</h2>
                    <p>@todo.body</p>

                    @vv.category.get(todo) match {
                        case Some(category) => {<span>#@category.name</span>}
                        case None => {<span>no category</span>}
                    }
                </li>
            </label>
        }

        <input type="submit" value="更新">
    }
</ul>
}