@(vv: model.todo.ViewValueList)(implicit messageProvider: MessagesProvider, requestHeader: RequestHeader)
@common.Default(vv){

<a href="@controllers.todo.routes.TodoController.listPage()">Todo一覧へ</a>

<ul class="todo-list">
    @helper.form(action = controllers.todo.routes.TodoController.archive()) {
        @helper.CSRF.formField

        @for(todo <- vv.todoList) {
            <label for="trush_id_@todo.id">
                <input class="todo-list__trush-checkbox" type="checkbox" id="trush_id_@todo.id" name="ids[]" value=@todo.id>
                    <li class="todo-list__item todo-list__item_@todo.state todo-list__item_open">
                    <h2>@todo.title</h2>
                    <p>@todo.body</p>
                </li>
            </label>
        }

        <input type="submit" value="done">
        <input type="submit" value="todoに戻す" formaction="@controllers.todo.routes.TodoController.unarchive()">
        <input type="submit" value="削除" formaction="@controllers.todo.routes.TodoController.delete()">
    }
</ul>
}
